[submodule "vnpy"]
	path = vnpy
	url = https://github.com/vnpy/vnpy
[submodule "gateways/vnpy_ctp"]
	path = gateways/vnpy_ctp
	url = https://github.com/vnpy/vnpy_ctp
[submodule "gateways/vnpy_mini"]
	path = gateways/vnpy_mini
	url = https://github.com/vnpy/vnpy_mini
[submodule "gateways/vnpy_sopt"]
	path = gateways/vnpy_sopt
	url = https://github.com/vnpy/vnpy_sopt
[submodule "gateways/vnpy_femas"]
	path = gateways/vnpy_femas
	url = https://github.com/vnpy/vnpy_femas
[submodule "gateways/vnpy_uft"]
	path = gateways/vnpy_uft
	url = https://github.com/vnpy/vnpy_uft
[submodule "gateways/vnpy_esunny"]
	path = gateways/vnpy_esunny
	url = https://github.com/vnpy/vnpy_esunny
[submodule "gateways/vnpy_sec"]
	path = gateways/vnpy_sec
	url = https://github.com/vnpy/vnpy_sec
[submodule "gateways/vnpy_hts"]
	path = gateways/vnpy_hts
	url = https://github.com/vnpy/vnpy_hts
[submodule "gateways/vnpy_xtp"]
	path = gateways/vnpy_xtp
	url = https://github.com/vnpy/vnpy_xtp
[submodule "gateways/vnpy_tora"]
	path = gateways/vnpy_tora
	url = https://github.com/vnpy/vnpy_tora
[submodule "gateways/vnpy_hft"]
	path = gateways/vnpy_hft
	url = https://github.com/vnpy/vnpy_hft
[submodule "gateways/vnpy_ost"]
	path = gateways/vnpy_ost
	url = https://github.com/vnpy/vnpy_ost
[submodule "gateways/vnpy_sgit"]
	path = gateways/vnpy_sgit
	url = https://github.com/vnpy/vnpy_sgit
[submodule "gateways/vnpy_ksgold"]
	path = gateways/vnpy_ksgold
	url = https://github.com/vnpy/vnpy_ksgold
[submodule "gateways/vnpy_rohon"]
	path = gateways/vnpy_rohon
	url = https://github.com/vnpy/vnpy_rohon
[submodule "gateways/vnpy_comstar"]
	path = gateways/vnpy_comstar
	url = https://github.com/vnpy/vnpy_comstar
[submodule "gateways/vnpy_gm"]
	path = gateways/vnpy_gm
	url = https://github.com/vnpy/vnpy_gm
[submodule "gateways/vnpy_uf"]
	path = gateways/vnpy_uf
	url = https://github.com/vnpy/vnpy_uf
[submodule "gateways/vnpy_tts"]
	path = gateways/vnpy_tts
	url = https://github.com/vnpy/vnpy_tts
[submodule "gateways/vnpy_hx"]
	path = gateways/vnpy_hx
	url = https://github.com/vnpy/vnpy_hx
[submodule "gateways/vnpy_ib"]
	path = gateways/vnpy_ib
	url = https://github.com/vnpy/vnpy_ib
[submodule "gateways/vnpy_tap"]
	path = gateways/vnpy_tap
	url = https://github.com/vnpy/vnpy_tap
[submodule "gateways/vnpy_da"]
	path = gateways/vnpy_da
	url = https://github.com/vnpy/vnpy_da
[submodule "gateways/vnpy_rpcservice"]
	path = gateways/vnpy_rpcservice
	url = https://github.com/vnpy/vnpy_rpcservice
[submodule "apps/vnpy_ctastrategy"]
	path = apps/vnpy_ctastrategy
	url = https://github.com/vnpy/vnpy_ctastrategy
[submodule "apps/vnpy_ctabacktester"]
	path = apps/vnpy_ctabacktester
	url = https://github.com/vnpy/vnpy_ctabacktester
[submodule "apps/vnpy_spreadtrading"]
	path = apps/vnpy_spreadtrading
	url = https://github.com/vnpy/vnpy_spreadtrading
[submodule "apps/vnpy_optionmaster"]
	path = apps/vnpy_optionmaster
	url = https://github.com/vnpy/vnpy_optionmaster
[submodule "apps/vnpy_portfoliostrategy"]
	path = apps/vnpy_portfoliostrategy
	url = https://github.com/vnpy/vnpy_portfoliostrategy
[submodule "apps/vnpy_algotrading"]
	path = apps/vnpy_algotrading
	url = https://github.com/vnpy/vnpy_algotrading
[submodule "apps/vnpy_scripttrader"]
	path = apps/vnpy_scripttrader
	url = https://github.com/vnpy/vnpy_scripttrader
[submodule "apps/vnpy_paperaccount"]
	path = apps/vnpy_paperaccount
	url = https://github.com/vnpy/vnpy_paperaccount
[submodule "apps/vnpy_chartwizard"]
	path = apps/vnpy_chartwizard
	url = https://github.com/vnpy/vnpy_chartwizard
[submodule "apps/vnpy_portfoliomanager"]
	path = apps/vnpy_portfoliomanager
	url = https://github.com/vnpy/vnpy_portfoliomanager
[submodule "apps/vnpy_rpcservice"]
	path = apps/vnpy_rpcservice
	url = https://github.com/vnpy/vnpy_rpcservice
[submodule "apps/vnpy_datamanager"]
	path = apps/vnpy_datamanager
	url = https://github.com/vnpy/vnpy_datamanager
[submodule "apps/vnpy_datarecorder"]
	path = apps/vnpy_datarecorder
	url = https://github.com/vnpy/vnpy_datarecorder
[submodule "apps/vnpy_excelrtd"]
	path = apps/vnpy_excelrtd
	url = https://github.com/vnpy/vnpy_excelrtd
[submodule "apps/vnpy_riskmanager"]
	path = apps/vnpy_riskmanager
	url = https://github.com/vnpy/vnpy_riskmanager
[submodule "apps/vnpy_rest"]
	path = apps/vnpy_rest
	url = https://github.com/vnpy/vnpy_rest
[submodule "apps/vnpy_websocket"]
	path = apps/vnpy_websocket
	url = https://github.com/vnpy/vnpy_websocket
[submodule "databases/vnpy_sqlite"]
	path = databases/vnpy_sqlite
	url = https://github.com/vnpy/vnpy_sqlite
[submodule "databases/vnpy_mysql"]
	path = databases/vnpy_mysql
	url = https://github.com/vnpy/vnpy_mysql
[submodule "databases/vnpy_posgresql"]
	path = databases/vnpy_posgresql
	url = https://github.com/vnpy/vnpy_postgresql
[submodule "databases/vnpy_dolphindb"]
	path = databases/vnpy_dolphindb
	url = https://github.com/vnpy/vnpy_dolphindb
[submodule "databases/vnpy_arctic"]
	path = databases/vnpy_arctic
	url = https://github.com/vnpy/vnpy_arctic
[submodule "databases/vnpy_taos"]
	path = databases/vnpy_taos
	url = https://github.com/vnpy/vnpy_taos
[submodule "databases/vnpy_timescaledb"]
	path = databases/vnpy_timescaledb
	url = https://github.com/vnpy/vnpy_timescaledb
[submodule "databases/vnpy_mongodb"]
	path = databases/vnpy_mongodb
	url = https://github.com/vnpy/vnpy_mongodb
[submodule "databases/vnpy_influxdb"]
	path = databases/vnpy_influxdb
	url = https://github.com/vnpy/vnpy_influxdb
[submodule "databases/vnpy_leveldb"]
	path = databases/vnpy_leveldb
	url = https://github.com/vnpy/vnpy_leveldb
[submodule "datafeeds/vnpy_rqdata"]
	path = datafeeds/vnpy_rqdata
	url = https://github.com/vnpy/vnpy_rqdata
[submodule "datafeeds/vnpy_udata"]
	path = datafeeds/vnpy_udata
	url = https://github.com/vnpy/vnpy_udata
[submodule "datafeeds/vnpy_tushare"]
	path = datafeeds/vnpy_tushare
	url = https://github.com/vnpy/vnpy_tushare
[submodule "datafeeds/vnpy_wind"]
	path = datafeeds/vnpy_wind
	url = https://github.com/vnpy/vnpy_wind
[submodule "datafeeds/vnpy_tinysoft"]
	path = datafeeds/vnpy_tinysoft
	url = https://github.com/vnpy/vnpy_tinysoft
[submodule "datafeeds/vnpy_ifind"]
	path = datafeeds/vnpy_ifind
	url = https://github.com/vnpy/vnpy_ifind
[submodule "datafeeds/vnpy_tqsdk"]
	path = datafeeds/vnpy_tqsdk
	url = https://github.com/vnpy/vnpy_tqsdk
[submodule "apps/vnpy_webtrader"]
	path = apps/vnpy_webtrader
	url = https://github.com/vnpy/vnpy_webtrader
